/*
@keyframes alien {
    from {background-color: rgba(159, 8, 247, 0.596);}
    to {background-color: rgba(255, 0, 157, 0.438);}
    from {
        margin-left: 0%;
        width: 100%;
      }
    
      to {
        margin-left: 10%;
        width: 100%;
      }

}

*/

a{
  
    padding-right: 20px;
    text-decoration: none;
    list-style: none;
    color: white;
    margin: 30px;
    

}

header{
    display: inline-block;


}

/*
a{
    
    list-style: none;
    text-decoration: none;
    width: 50%;
    margin: 0;
    box-shadow: #000000;
    font-size: 20px;
    border: 2px solid;
    background-color: grey;
    padding-top: 10px;
    animation-name: alien;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    transform:rotate(10deg);
    color: teal;
        
}

a:hover{
    opacity: 0.10;
}
*/

body{
    /*
    background: linear-gradient(to right, #e100ff 0%, #9f07e6 100%); 
    */
    background-color: white;

}

h2{
    border: 1px solid;
}
 
h1{
    text-align: center;
    color: blue;
    font-size: large;
   
}
ul{
   display: inline-block;   
   padding-left: 30px; 
   font-size: 20px;
  
   
}




h2{
    color: blue;
    font-style: italic;
    text-align: center;
    
}

.block1{
    background-color: #0000ff;
    float:left;
    height: 200px;
    width: 200px;
    margin: 10px;
}



.block2{
    margin-left: 20px;
    height: 200px;
    width: 150px;
    
    background-color: brown;
    float: right;
}
.block3{
    margin-left: 20px;
    height: 180px;
    width: 150px;
    
    background-color: blueviolet;
    clear: both;
}

@media screen and (max-width:750px){



body{
    background-color: darkslategray;
}
header{
    background-color: teal;
} 
}  
@media screen and (max-width:450px){



body{
    background-color: darkslategray;
}
header{
    background-color: teal;
} 
}  

/*
@keyframes background{
   from {background: linear-gradient(to right, #e100ff 0%, #07c5e6 100%);}
   to {background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,253,107,1) 50%, rgb(69, 252, 237) 100%);}

}
   */

nav{
    width:100% ;
    display: inline-block;
    padding: auto;
    
    
   
}

nav > ul > li {
    float:left
}

.menu:hover{
    opacity: 0.7;
    
    
}
*/
textarea{
    width: 100%;
    height: 200px;
}

header{

}

.b2{
   background-image: url("image1.gif");
   width: 100%;
   height: 100%;
}

.sommaire1{
   margin-left: auto;
   margin-right: auto;
   background-color: mediumslateblue;
   width: 50%;
   border: 1px solid white;
   border-radius: 20px;
   
}

.d1{
    text-decoration-line: overline;
    color: gold;
    text-shadow: 0 0 10px #000000;
    transition: 0s;
  
}


