header{
    border-color: teal;

body{
    background-color: darkslategray ;

}


@media screen and (max-width:750px){

    }

    body{
        background-color: darkslategray;
    }
    header{
        background-color: teal;
    }   
}

h1{
    background-color: aqua;
    border-radius: 10px;
    
}

.content{
    display: inline-block;
    
    width: 100%;
    background-color: bisque;
}

footer{
    background-color: teal;
}

.c1{
    display: inline-block;
    background-color: blue;
    
}

.c2{
    display: inline-block;
    background-color: rgb(0, 255, 179);
   
}

.c3{
    display: inline-block;
    background-color: rgb(94, 255, 0);
    
}

